@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('./images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 483px 100vh;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    column-gap: 200px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 541px;
    height: 527px;
}

.front-card {
    display: flex;
    flex-direction: column;
    width: 447px;
    height: 245px;
    background-image: url('./images/bg-card-front.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.front-card img {
    width: 84px;
    height: 47px;
    margin-left: 6%;
    margin-top: 5%;
}

.front-card h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 28px;
    color: white;
    line-height: 35px;
    margin-left: 6%;
    margin-top: 15%;
    letter-spacing: 3px;
}

.front-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.front-card-info h2,
h3 {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2px;
}

.front-card-info h2 {
    margin-left: 7%;
}

.front-card-info h3 {
    margin-right: 9%;
}

.back-card {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 447px;
    height: 245px;
    background-image: url('./images/bg-card-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
}

.back-card h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: white;
    margin-right: 13%;
    margin-bottom: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    width: 381px;
    height: 352px;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.cn-container {
    display: flex;
    flex-direction: column;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exp-date {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

.date-info {
    display: flex;
    flex-direction: row;
}

.card-vc {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    color: #21092F;
    padding-bottom: 2%;
}

.name-container input {
    border-radius: 8px;
    width: 100%;
    height: 45px;
    border: 1px solid #DFDEE0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #21092F;
}

.cn-container input {
    border-radius: 8px;
    width: 100%;
    height: 45px;
    border: 1px solid #DFDEE0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #21092F;
}

.date-info input {
    width: 80px;
    height: 45px;
    border-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #DFDEE0;
}

.card-vc input {
    width: 151px;
    height: 45px;
    border-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    border: 1px solid #DFDEE0;
}

button {
    margin-top: auto;
    width: 100%;
    border: none;
    height: 53px;
    border-radius: 8px;
    background-color: #21092F;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

input::placeholder {
    color: #cdcdcd;
    padding-left: 5%;
}

input:focus {
    outline: none;
    border: double 1px transparent;
    border-radius: 8px;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #6348FE, #610595);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

button:hover {
    cursor: pointer;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    color: #FF5050; 
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 0;
}


.thank-you {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.thank-you h1 {
    font-family: 'Space Grotesk', sans-serif;
    color: #21092F;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 3px;
}

.thank-you h2 {
    font-family: 'Space Grotesk', sans-serif;
    color: #8F8694;
    font-size: 18px;
    line-height: 22px;
    
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
    body {
        background-image: url('./images/bg-main-mobile.png');
        background-size: 100% 30%;
    }

    main {
        flex-direction: column;
    }

    .card-container {
        width: auto;
        height: 180px;
        justify-content: normal;
        align-items: center;
    }

    .front-card {
        width: 285px;
        height: 157px;
        z-index: 2;
        margin-bottom: -150px;
        margin-right: 100px;
    }

    .front-card img {
        width: 54px;
        height: 30px;
    }

    .front-card h1 {
        font-size: 18px;
        line-height: 22px;
    }

    .front-card-info h2, h3 {
        font-size: 9px;
        line-height: 11px;
    }

    .back-card {
        width: 286px;
        height: 157px;
        margin: 0;
        margin-top: -100px;
        margin-left: 100px;
        z-index: 1;
    }

    .back-card h1 {
        font-size: 9px;
        line-height: 11px;
    }

    .form-container {
        width: auto;
    }
}
